@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Noto Sans Arabic', Arial, sans-serif;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }

  :root {
    direction: rtl;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #0084bd transparent;
  }
}
